html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
  border: 1px solid #b20710;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}

h3 {
  color: #e5e5e5;
}

a h3:hover {
  color: #fff;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 1050px;
  min-height: 100%;
  background-color: #141414;
}

.signInContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: #fff;
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 20px 35px;
  overflow-y: auto;
}

.column form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

.column form input[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.column .header {
  padding: 20px 0;
}

.column h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: #000;
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
}

.signInMessage {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.errorMessage {
  color: #f00;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.previewImage,
.previewContainer,
.previewVideo {
  width: 100%;
}

.previewContainer {
  position: relative;
  display: flex;
}
.previewContainer.small {
  width: 300px;
  height: 129px;
  margin-right: 4px;
  display: inline-flex;
}

.previewContainer.small img,
.previewContainer.small a {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.previewOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.movieTitle {
  font-size: 40px;
  margin: 15px 0;
  color: white;
  background-color: transparent;
  padding: 0;
}

.mainDetails .seasonEpisode {
  color: #fff;
}

.mainDetails {
  position: relative;
  top: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.mainDetails button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  min-width: 150;
  padding: 0 38px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
}

button i {
  color: inherit;
}

.mainDetails button:hover {
  background-color: #e6e6e6;
  color: #000;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entities,
.videos {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
}

.entities::-webkit-scrollbar,
.videos::-webkit-scrollbar {
  height: 0;
  scroll-behavior: smooth;
}

.previewCategories {
  padding: 0 50px;
}

.errorBanner {
  position: absolute;
  top: 25%;
  color: #efefee;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.season {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.episodeContainer {
  display: inline-flex;
  justify-content: center;
  margin-right: 4px;
}

.episodeContainer .contents {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.episodeContainer img {
  width: 230px;
  height: 129px;
  object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
  color: #fff;
  width: 100%;
  white-space: normal;
}

.episodeContainer .videoInfo {
  max-height: 200px;
  overflow-y: auto;
}

.previewCategories.noScroll .category .entities {
  white-space: normal;
}

.watchContainer {
  position: relative;
}

.watchContainer video {
  width: 100%;
}

.videoControls {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.videoControls h1 {
  color: #fff;
}

.iconButton {
  font-size: 50px;
  color: #fff;
  padding: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.videoControls.upNext {
  justify-content: flex-end;
  flex-direction: column;
  bottom: 6em;
  right: 5em;
  width: 40%;
  background-color: unset;
}

.upNextContainer {
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  will-change: opacity;
  color: #fff;
  bottom: 2.6rem;
  background-color: #141414;
  padding: 1.5rem;
}

.upNextContainer h2,
h3 {
  color: #fff;
  background-color: rgb(38, 38, 38);
  margin: 0;
  padding: 2rem;
}

.upNextContainer h3 {
  padding: 1rem 2rem;
}

.upNextContainer p {
  padding: 2rem;
}

.upNextContainer h2,
.upNextContainer h3,
.upNextContainer p {
  color: #fff;
}
.watchNav {
  z-index: 2;
}

.goBackBtn img {
  height: 2.2rem;
  cursor: pointer;
}

.goBackBtn {
  background: transparent;
  border: none;
  padding: 0 2rem;
}

.hidden {
  display: none;
}

.playNext {
  padding: 0 2.4rem 0 2rem;
  -webkit-box-align: center;
  align-items: center;
  appearance: none;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  padding: 0.8rem;
  position: relative;
  user-select: none;
  will-change: background-color, color;
  word-break: break-word;
  white-space: nowrap;
  font-weight: 900;
  align-self: flex-end;
}

.playNext i {
  width: 2.4rem;
}

.playNext:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
